body {
	margin: 0px;
	padding: 0px;
	height: 100%;
	font-family: Arial;
	min-width: 1000px;
}

.scriptLoading {
	color: #66f;
}

.scriptLoadError {
	color: red;
}

.scriptLoading, .scriptLoadError {
	width: 100%;
	height: 100%;
	text-align: middle;
	font-size: 30px;
	font-weight: bold;
	margin: 10px;
}

.app_container {
}

h1, h2 {
	color: #1a608e;
}

h2.noContent {
	font-style: italic;
}
.tree_pane_inner_container, .content_pane_inner_container {
	margin: 10px;
}

.tree_pane {
	width: 400px;
	min-height: 600px;
	background-color: #e2f0fa;
	height: 100%;
	float: left;
	overflow: auto;
}

.content_pane {
	width: calc(100% - 400px);
	min-width: 600px;
	min-height: 600px;
	background-color: #f2f9fd;
	height: 100%;
	float: left;
	overflow: auto;
}

.content_container, .tree_container {
	overflow: auto;
}

.tree_container {
}

.jstree_div {
	height: calc(100% - 137px);
	background-color: #f2f9fd;
	overflow: auto;
}

.filterTextbox, .nodeTextbox {
	border: 1px solid;
	border-radius: 3px;
	padding: 3px 10px 3px 10px;
	height: 30px;
	outline: none;
}

.filterTextbox {
	border-color: #3498db;
	background-color: #f8fcfe;
	color: #1a608e;
	float: left;
}

.filterTextbox::placeholder {
	color: #2792d8;
}

.filterbar {
	margin-bottom: 10px;
}

.btn_primary, .btn, .btn_a, .btn_a_disabled {
	margin-left: 5px;
	height: 30px; 
	font-size: 16px;
}

.btn_primary, .btn, .btn_a {
	color: #1a608e;
	cursor: pointer;
	outline: none;
}

.btn_primary, .btn {
	border-radius: 3px;
	border: 1px solid #3498db;
}

.btn_primary {
	background-color: #b7dbf2;
}

.btn {
	background-color: #daecfa;
}

.btn_primary:hover {
	background-color: #ecf5fd;
}

.btn:hover {
	background-color: #ecf5fd;
}

.btn_a {
}

.btn_a:hover {
	color: #5588aa;
}

.btn_a_disabled {
	color: #93bedb;
	text-decoration: none;
	cursor: default;
}

.content, .contentDisplay {
	font-family: Arial;
	font-size: 18px;
	padding: 10px;
	resize: none;
	border-radius: 3px;
}

.nodeData_valid {
	border-color: #000;
}

.nodeData_invalid {
	border-color: #f00;
}

.validationMessage {
	color: #f00;
}

.content {
	width: 370px;
	height: 300px;
	margin-top: 5px;
}

.contentDisplay {
	color: #1a608e;
	background-color: #f8fcfe;
	margin: 10px;
	border: 0px;
	width: calc(100% - 20px);
	height: calc(100% - 250px);
}

.nodeTextbox {
	width: 370px;
	margin-top: 5px;
	margin-bottom: 10px;
}

.idElement {
	color: #1a608e;
	font-style: italic;
}